body {
	 background-color: #cc9900;
	 color: white;
	 font-family: "Stencil";
	 padding:  25px;
	 
}
p {
	text-align: justify;

}

figure {
	border: 1px solid black;
	width: 185px;
	padding: 20px;
	margin:	0px;
}

img {
	width: inherit;
}

figcaption{
	font-style: italic;
	text-align: center;
}

