table{
	border: 5px solid #99ffcc ;
	width: 100%;
	border-collapse: collapse;

}

td, th {
	border: 5px solid #99ffcc;
	text-align: center;
	padding: 10px;
}

th {
	background-color: #1EABB3;
	border-right-color: #99ffcc;
	color: #333;
}

th:last-child{
	border-right-color: #99ffcc;
}
tr.even{
	background-color: #6699ff;
	color: #333;
}
/*tbody > tr:nth-child(2) > td {
	border-top:15px solid #99ccff;
}*/

td:first-child{
	text-align: left;
}
td:nth-child(2){
	font-style: italic;
}
tr:hover{
	background-color: #4286f4;
	color: #ccdfff;
}
.highlighted{
	color: white;
	background-color: red;
	font-weight: bold;
}

#my-td {
	border: 2px solid #333300;
	margin: 28px 0 28px 0;
	min-height: 10px;
	max-height: 50px; 
	padding: 30px;
	font-size: 28px;
}

.my-td-span{
	background-color: #009999;
	padding: 5px;
	font-size: inherit;
	color: inherit;
}

